<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd"
       default-autowire="no">

    <bean id="replaceDanceMethod" class="com.together.learning.spring.ioc.step18.ReplaceDanceMethod"/>

    <bean class="com.together.learning.spring.ioc.step18.Dancer">
        <replaced-method name="dancer" replacer="replaceDanceMethod"/>
    </bean>
</beans>