<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd"
       default-autowire="no">
    <bean class="com.together.learning.spring.ioc.step24.InstantiationTracingBeanPostProcessor"/>

    <bean class="com.together.learning.spring.ioc.step24.A">
        <property name="value" value="just do it"/>
    </bean>
</beans>