<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="lazy" class="com.together.learning.spring.ioc.step15.Lazy" lazy-init="true"/>

    <bean id="early" class="com.together.learning.spring.ioc.step15.Early"/>

    <bean id="lazyReferenceByEarly" class="com.together.learning.spring.ioc.step15.LazyReferenceByEarly"/>

    <bean id="earlyDependsOnLazy" class="com.together.learning.spring.ioc.step15.EarlyDependsOnLazy">
        <property name="lazy" ref="lazyReferenceByEarly"/>
    </bean>
</beans>