<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="com.together.learning.spring.step6.ProductProperties">
        <!-- The Spring container converts the text inside the <value/> element
             into a java.util.Properties instance by using the JavaBeans PropertyEditor mechanism.
             This is a nice shortcut, and is one of a few places where the Spring team do favor
             the use of the nested <value/> element over the value attribute style.
        -->
        <property name="properties">
            <value>
                size=10*20*20
                weight=120
                price=1.45
            </value>
        </property>
    </bean>
</beans>