<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="com.together.learning.spring.ioc.step10.CollectionStorage">
        <property name="properties">
            <props>
                <prop key="p1">p1-value</prop>
                <prop key="p2">p2-value</prop>
            </props>
        </property>

        <property name="lists">
            <list>
                <value>1</value>
                <value>2</value>
                <value>3</value>
            </list>
        </property>

        <property name="map">
            <map>
                <entry key="key1" value="value1"/>
                <entry key="key2" value="value2"/>
            </map>
        </property>

        <property name="set">
            <set>
                <value>1</value>
                <value>2</value>
            </set>
        </property>
    </bean>
</beans>